<section id="about" class="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Ireland's Premier Golf Endurance Tournament</h2>
                <p>
                    Team members are restricted from consuming their competition
                    beverage until both team members first drives have left the
                    first tee. Each team begins with a 20 drink-shot handicap,
                    each shot equivalent to a 500 ml can at a minimum of 4%
                    alcohol content. The handicap can be reduced by consuming
                    beverages. Exceeding the equivalent of 20 cans will not
                    reduce scores any futher. 1 shot will be deducted from a
                    team that can consume 50% of their chosen alcohol before the
                    9th hole completes. Each team member is allowed one mulligan
                    per the entire round Competitive drink consumption ends when
                    a team completes the 18th hole. No further drinks will
                    reduce drink-shot handicap
                </p>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
