<section id="about" class="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Ireland's Premier Golf Endurance Experience</h2>
                <p style="margin: 0 10% 0 10%; font-size: 16px;">
                    Team members are restricted from consuming their competition
                    beverage until both team members first drives have left the
                    first tee. Each team begins with a 20 drink-shot handicap,
                    each shot equivalent to a 500 ml can at a minimum of 4%
                    alcohol content.
                </p>
                <p style="margin: 10px 10% 0 10%; font-size: 16px;">
                    Combinging the skill of Augusta National with the drinking
                    of a leaving cert holiday in Santa Ponsa.
                </p>
                <p style="margin: 10px 10% 0 10%; font-size: 16px;">
                    The Old Head of Kinsale, Adare Manor, The K Club, Lahinch.
                    The Banner Open continues a long and storied tradition of
                    incredible golfing in Ireland.
                </p>
                <p
                    style="margin: 30px 10% 0 10%; font-style: italic; font-weight: 900; font-size: 20px;"
                >
                    "The quality on display is absolutely phenomenal, the way
                    those men consume their cans is inspirational" - Rory
                    McIlroy
                </p>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
