<header id="top" class="header">
    <div class="text-vertical-center">
        <h1>The Banner Open</h1>
        <h3>COVID-19 Announcement</h3>
        <p
            style="margin: 0 auto; text-align: center; width: 400px; color: white; font-size: 18px;"
        >
            Due to the current circumstances globally the Banner Open has been
            put on hold until August. We made this difficult decision along with
            our sponsors in the interest of public safety. Due to the large
            numbers expected at this years event it was not feasable for the
            event to go ahead.
        </p>
        <br />
    </div>
</header>
