<header id="top" class="header">
    <div class="text-vertical-center">
        <h1>The Banner Open</h1>
        <h3>2020 Tournament Update</h3>
        <p
            style="
                margin: 0 auto;
                text-align: center;
                width: 400px;
                color: white;
                font-size: 18px;
            "
        >
            The Banner Open has been cleared to go ahead on August 7th-8th.
            Crowds will not be permitted at the event and social distancing
            guidelines will be adhered to by all staff and athletes.
        </p>
        <br />
    </div>
</header>
